<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Shorty.styles.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/colors.css"/>
    <link rel="stylesheet" href="~/css/font-classes.css"/>
    <link rel="stylesheet" href="~/css/mobile-styles.css"/>
    <link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml">
</head>
<body class="poppins-regular">
<header id="header">
    <nav class="only-desktop">
        <ul class="center">
            <li class="@((ViewData.ContainsKey("Tab") == false || ViewData["Tab"] == null || (ViewData["Tab"] as int?) == 0)? "selected" : "")" ><img src="~/img/icons/material/home_filled.svg" alt="home icon"><a href="/">Home</a></li>
            <li class="@((ViewData["Tab"] as int?)== 1 ? "selected": "")" ><img src="~/img/icons/material/code_filled.svg" alt="code icon"><a asp-action="Docs" asp-controller="V1" asp-area="Api">Api</a></li>
        </ul>
    </nav>
    
    <div id="mobile-drawer" class="only-mobile">
        <div class="slide-out" id="mobile-nav">
            <div class="buttons">
                <button
                    class="@((ViewData.ContainsKey("Tab") == false || ViewData["Tab"] == null || (ViewData["Tab"] as int?) == 0) ? "selected" : "")"
                    onclick="window.location.href = '/'"><img src="~/img/icons/material/home_filled.svg" alt="home icon"></button>
                <button
                    class="@((ViewData["Tab"] as int?) == 1 ? "selected" : "")"
                    onclick="window.location.href = '/Api/V1/Docs'"><img src="~/img/icons/material/code_filled.svg" alt="code icon"></button>    
            </div>
        </div>
        
        <div id="menu-btn" class="menu-btn" onclick="toggle_shrink()">
            @*3 Bars for the menu button*@
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>
<div class="container-noboot" id="main-container">
    <div class="container-noboot-shrinker" id="container-noboot-shrinker">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>

<footer class="only-desktop">
    <div class="content">
        @*The following vector is by https://github.com/astrit/css.gg in MIT License via https://www.svgrepo.com *@
        <p>A hobby project by <a href="https://britto.tech/">Britto</a>. </p>
        <p>Fork on <a href="https://github.com/JoseBritto/Shorty/">Github</a> <img src="~/img/icons/svgrepo/git-fork.svg" alt=""></p>
    </div>
</footer>

@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/SebastianAigner/twemoji-amazing/twemoji-amazing.css">
<section class="wip" style="position: absolute; bottom: 2px; width: 100%">
    <div class="content">
        <p> <i class="twa twa-warning"></i>Very Early Beta Version. Expect <i class="twa twa-bug"></i> <i class="twa twa-bug"></i></p>
    </div>
</section>*@

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>